html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: $font-md;
  color: $blue;
  overflow-x: hidden;

  &.disable-scrolling {
    overflow: hidden;
  }
}

a, a:visited, a:hover {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem; // 40px
  margin: 0 0 20px;
}

h2 {
  font-size: 22px;
  margin: 0 0 10px;
  line-height: 32px;
}

p {
  margin: 0;
}

.flex {
  display: flex;

  &-justify-between {
    justify-content: space-between;
  }

  &-justify-center {
    justify-content: center;
  }

  &-items-center {
    align-items: center;
  }

  &-column {
    flex-direction: column;
  }
}

// buttons
button, .button {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  color: $white;
  background: $darkBlue;
}

// visibility
.hide-for-mobile {
  // hide for mobile and tablet, hide for medium and down
  @include breakpoint-down(medium) {
    display: none;
  }

}

.hide-for-desktop {
  // hide for desktop viewport width
  @include breakpoint-up(large) {
    display: none;
  }
}

.change-order {
  @include breakpoint-up(large) {
    order: -1;
  }
}

.change-font-size {
  @include breakpoint-up(medium) {
    font-size: 50px;
  }
  @include breakpoint-down(medium) {
    font-size: 30px;
  }
}

.spacing {
  @include breakpoint-up(medium) {
    padding: 0 163px;
  }
}

.stretch {
  @include breakpoint-up(medium) {
    margin-right: -163px !important;
    margin-left: -163px !important;
  }
}


.load-more-btn {
  padding: 5px 0;
  text-align: center;
  line-height: 1.625rem; // 26px
  max-width: 189px;
  width: 100%;
  margin: 0 auto;
}

.remove-spacing {
  @include breakpoint-up(medium) {
    padding: 0 !important;
  }
}
