@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include font();

  margin: 0;
  padding: 0;
  color: var(--color-blue-1);
  overflow-x: hidden;

  &.disable-scrolling {
    overflow: hidden;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

// button,
// .button {
//   font-weight: 500;
//   font-size: to-rem(16);
//   text-align: center;
//   border-radius: to-rem(2);
//   border: 0;
//   cursor: pointer;
//   color: var(--color-white);
//   background: var(--color-dark-blue);
// }

// .load-more-btn {
//   padding: to-rem(5) 0;
//   text-align: center;
//   line-height: to-rem(26);
//   max-width: to-rem(189);
//   width: 100%;
//   margin: 0 auto;
// }
