@font-face {
  font-family: 'Roboto';
  src: local('Roboto Regular'), local('Roboto-Regular'),
  url('../../../resources/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
  url('../../../resources/fonts/Roboto/Roboto-Regular.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('../../../resources/fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
  url('../../../resources/fonts/Roboto/Roboto-Medium.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}