.posts-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 rem(20);
  background: var(--color-light-blue);
  margin-top: rem(-60);

  &__post {
    margin-top: rem(40);
    display: flex;
    flex-direction: column;
  }

  .post {

    &__id {
      font-size: rem(22);
      color: var(--color-very-dark-blue);
      background: var(--color-white);
      min-height: rem(20);
      margin-left: -rem(20);
      margin-right: -rem(20);
      padding: rem(10) rem(20);
      text-align: center;
      box-shadow: rgba(93, 105, 112, 0.5) 0 rem(2) rem(4);    
    }

    &__content {

      h2 {
        color: var(--color-very-dark-blue);
      }

      p {
        line-height: rem(24);
        color: var(--color-grey);
      }
    }
  }
}