@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.header {
  position: relative;
  background-color: transparent;
  z-index: 1;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
  }

  &__logo {
    width: rem(79);
  }

  &__action-button {
    max-width: rem(160);

    @include query('small-mobile') {
      display: none;
    }
  }
}
