@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.header {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
  }

  &__drawer-toggle {
    display: none;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;

    span {
      display: block;
      width: rem(25);
      height: 2px;
      margin: 5px auto;
      background-color: var(--color-blue-2);
    }

    @include query('mobile') {
      display: block;
    }
  }

  &__navigation-wrapper {
    @include query('mobile') {
      position: fixed;
      height: 100dvh;
      width: 100%;
      top: rem(67);
      left: 0;
      max-width: 0;
      background-color: rgba(102, 51, 153, 0.556);
      z-index: 9000;

      @include transition(max-width);

      &.drawer-active {
        max-width: 100%;
        width: 100vw;
      }
    }
  }

  &__logo {
    width: rem(79);
  }

  &__action-button {
    min-width: rem(160);
    padding: rem(2) 0;
    border-radius: rem(2);
    border: 2px solid var(--color-blue-2);
    background-color: var(--color-blue-2);
    color: var(--color-white);
    text-align: center;
    transition:
      background-color 0.2s ease,
      color 0.2s ease;

    @include font(rem(12), 500, rem(18));

    &:hover {
      background-color: transparent;
      color: var(--color-blue-2);
    }
  }
}
