@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.posts {
  margin: rem(70) 0 rem(50);

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: rem(48) rem(32);
    grid-auto-flow: row;

    @include query('small-mobile') {
      display: flex;
      flex-direction: column;
      gap: rem(25);
    }
  }

  &__item {
    grid-column-end: span 4;

    @include query('mobile') {
      grid-column-end: span 6;
    }
  }
}
