@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.single-post {
  border: 2px solid var(--color-grey);
  border-radius: rem(2);

  &__heading,
  &__description {
    grid-column-end: span 2;
    padding: rem(14) rem(16);
  }

  &__heading {
    border-bottom: 2px solid var(--color-grey);
    color: var(--color-blue-1);
    background-color: var(--color-light-blue);
    text-transform: capitalize;
  }

  &__description {
    color: var(--color-grey);
  }
}
