@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.single-post {
  border: 2px solid var(--color-grey);
  border-radius: rem(2);

  &__heading,
  &__description {
    grid-column-end: span 2;
    padding: rem(14) rem(16);
  }

  &__heading {
    border-bottom: 2px solid var(--color-grey);
    color: var(--color-blue-1);
    background-color: var(--color-light-blue);
    text-transform: capitalize;
  }

  &__description {
    color: var(--color-grey);
  }

  &__number {
    position: relative;
    grid-column-end: span 2;
    padding: rem(10) rem(16);
    text-align: center;
    color: var(--color-grey);
    font-style: italic;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 30%;
      background-color: var(--color-grey);
      top: 50%;
      right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 30%;
      background-color: var(--color-grey);
      top: 50%;
      left: 0;
    }
  }
}
