@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: clamp(rem(16), 0.9559859154929577rem + 0.18779342723004694vw, rem(18));
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: var(--color-blue-1);
  overflow-x: hidden;

  &.disable-scrolling {
    overflow: hidden;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  color: inherit;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

h1,
h4,
p {
  margin: 0;
  text-wrap: balance;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: var(--container-max-width);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.bleeding-container {
  & > .bleeding-image {
    grid-row: 2;

    &:first-child {
      grid-column: 1 / 3;
    }

    &:last-child {
      // grid-column: 3 / -1;
      grid-column: 4 / -1;
    }
  }

  & > .bleeding-content {
    display: grid;
    align-content: start;
    justify-items: start;
    grid-row: 2;
    padding-inline: var(--container-padding-x);

    @include query('tablet-up') {
      padding-top: rem(70); // use clamp
    }

    &:first-child {
      // grid-column: 2 / 3;
      grid-column: 2 / 4;

      @include query('tablet-up') {
        padding-left: 0;
      }
    }

    &:last-child {
      grid-column: 3 / 4;

      @include query('tablet-up') {
        padding-right: 0;
      }
    }
  }

  @include query('tablet-up') {
    display: grid;
    grid-template-columns:
      minmax(var(--container-padding-x), 1fr)
      minmax(0, calc(var(--container-max-width) / 3))
      minmax(0, calc(calc(var(--container-max-width) - rem(100)) / 3))
      minmax(0, calc(var(--container-max-width) / 3))
      minmax(var(--container-padding-x), 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  @include query('desktop') {
    max-width: rem(1440);
    margin-inline: auto;
  }
}

.disable-scroll {
  overflow: hidden;
}
