@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: clamp(rem(16), 0.9559859154929577rem + 0.18779342723004694vw, rem(18));
  margin: 0;
  padding: 0;
  color: var(--color-blue-1);
  overflow-x: hidden;

  &.disable-scrolling {
    overflow: hidden;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: min(100% - rem(32), rem(1110));
  margin-inline: auto;
}

.disable-scroll {
  overflow: hidden;
}
