@use 'sass:map';
@use 'functions' as fns;

$breakpoints: (
  'mobile': (max-width: 767px),
  'tablet': (min-width: 768px) and (max-width: 1023px),
  'tablet-up': (min-width: 768x),
  'laptop': (min-width: 1024px) and (max-width: 1339px),
  'desktop': (min-width: 1440px),
);

@mixin media($queries) {
  @if length($queries) == 0 {
    @content;
  } @else {
    $first-key: nth(map-keys($queries), 1);

    @media ($first-key: map-get($queries, $first-key)) {
      $queries: map-remove($queries, $first-key);

      @include media($queries) {
        @content;
      }
    }
  }
}

@mixin query($breakpoint) {
  $queries: map-get($breakpoints, $breakpoint);

  @if not $queries {
    @error "No value could be retrieved from `#{$breakpoint}`. "
    + "Please make sure it is defined in `$breakpoints` map.";
  }

  @include media($queries) {
    @content;
  }
}

@mixin hover-firefox {
  @media (-moz-touch-enabled: 0) {
    @content;
  }
}

@mixin transform($property) {
  transform: $property;
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
}

@mixin root-vars($map, $prefix) {
  @each $name, $value in $map {
    #{'--' + $prefix + '-' + $name}: $value;
  }
}

@mixin font($font-size: 14px, $font-weight: 400, $line-height: 24px, $font-family: 'Roboto') {
  font: normal  #{$font-weight} #{$font-size} / #{$line-height} #{$font-family}, serif;
}
