
@use 'sass:math';
@use 'sass:string';
@use 'variables' as *;

@function is-percentage($value) {
  @return is-number($value) and math.unit($value) == '%';
}

@function strip-unit($value) {
  @return  math.div($value, $value * 0 + 1);
}

@function rem($pxValue) {
  $base-font-size: math.div($browser-font-size, 100) * $html-font-size;
  $unit-removed: strip-unit($pxValue);
  $unit-removed-base: strip-unit(if(is-percentage($html-font-size), $base-font-size, $html-font-size));

  @if string.index(#{$pxValue}, 'rem') {
    @return $size;
  }

  @return math.div($unit-removed, $unit-removed-base) * 1rem;
}